html, body {
    margin: 0; 
    height: 99vh; 
    font-size: 1.4vh;
} 

*, *:before, *:after {
    box-sizing: border-box;
}

.gold {
    color: #FFD700;
}

.green {
    color: #16F529;
}

.red {
    color: #FD1C03;
}

.grey {
    color: #DFE3E3;
}

.b-color {
    background: #2ECC71!important;
    border: none!important;
    font-weight: 600!important;
}

Table, .border {
    color: #DFE3E3!important;
}

.apexcharts-tooltip {
    thenme: dark;
}

/*
.table-responsive {
    height: 90vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} 

.table-responsive::-webkit-scrollbar {
        display: none;
    }

thead tr:nth-child(1) th{
    background-color: #212529;
    border: none;
    position: sticky;
    top: 0;
    z-index: 9999;
}

tfoot tr:nth-child(1) td{
    background-color: #212529;
    border: none;
    position: sticky;
    bottom: 0;
    z-index: 9999;
}
*/

